
.about__info {
    /*box model*/
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    gap: 30px;
    margin: 10px;
}

/*projects*/
.projects__imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}